/* RESET */
img{
    width: 100%;
}
ul{
    list-style-type: none;
}
/* HEADER / NAV */
header{
    z-index: 1;
    position: fixed;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    vertical-align: sub;
    top: 0;
    font-family: Helvetica;
}
body{
    font-family: Arial;
}
.titolo{
    background-color: black;
    padding: 10px;
    height: 35px;
}
.sony{
    width: 100px;
    right: 10px;
    position: absolute;
}
/* NAV */
nav{
    background-color: white;
}
.container-n{
    width: 95%;
    margin: auto;
}
nav ul{
    display: flex;
    justify-content: right;
    margin: 10px;
    padding-left: 0;
    display: flex;
    align-items: center;
}
.centratura{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav li{
    margin: 0 10px;
}
nav .col-7 .box{
    display: flex;
    justify-content: left;
}

/* END NAV */
/* END HEADER / NAV */


/* MAIN */
/* JUMBO */
main{
    margin-top: 105px;
}
.jumbo{
    position: relative;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.returnal-img{
    width: 270px;
    margin-bottom: 40px;
}
#titolo-jumbo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}
.paragrafo-jumbo{
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}
.btn_acquista_ora{
    color: white;
    background-color: orangered;
    border-radius: 50px;
    text-decoration: none;
}
.btn_acquista_ora a{
    color: white;
    background-color: orangered;
    border-radius: 50px;
    text-decoration: none;
}
.content-jumbo{
    padding-top: 250px;
    padding-bottom: 30px;
}
/* lista giochi main */

.img-list-container img{
    border-radius: 20px;
    margin-bottom: 20px;
}
.box-row{
    padding-top: 30px;
}

/* playstation testo */
.box-play-text{
    text-align: center;
}
.box-play-text :first-child{
    font-weight: bold;
    color: #0072ce;
}
.box-play-text h2{
    font-size: 45px;
    margin-bottom: 20px;
}
.box-play-text :last-child{
    font-size: 20px;
    font-weight: bold;
    color: gray;
}
/* END MAIN */