/* RESET */
img{
    width: 100%;
}
ul{
    list-style-type: none;
}
/* HEADER / NAV */
header{
    z-index: 1;
    position: fixed;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    vertical-align: sub;
    top: 0;
    font-family: Helvetica;
}
body{
    font-family: Arial;
}
.titolo{
    background-color: black;
    padding: 10px;
    height: 35px;
}
.sony{
    width: 100px;
    right: 10px;
    position: absolute;
}
/* NAV */
nav{
    background-color: white;
}
.container-n{
    width: 95%;
    margin: auto;
}
nav ul{
    display: flex;
    justify-content: right;
    margin: 10px;
    padding-left: 0;
    display: flex;
    align-items: center;
}
.centratura{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav li{
    margin: 0 10px;
}
nav .col-7 .box{
    display: flex;
    justify-content: left;
}

/* END NAV */
/* END HEADER / NAV */


/* MAIN */
/* JUMBO */
main{
    margin-top: 105px;
}
.jumbo{
    position: relative;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.returnal-img{
    width: 270px;
    margin-bottom: 40px;
}
#titolo-jumbo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}
.paragrafo-jumbo{
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}
.btn_acquista_ora{
    color: white;
    background-color: orangered;
    border-radius: 50px;
    text-decoration: none;
}
.btn_acquista_ora a{
    color: white;
    background-color: orangered;
    border-radius: 50px;
    text-decoration: none;
}
.content-jumbo{
    padding-top: 350px;
    padding-bottom: 30px;
}
/* lista giochi main */

.img-list-container img{
    border-radius: 20px;
    margin-bottom: 20px;
}
.box-row{
    padding-top: 30px;
}

/* playstation testo */
.box-play-text{
    text-align: center;
    margin-top: 100px;
}
.box-play-text :first-child{
    font-weight: bold;
    color: #0072ce;
}
.box-play-text h2{
    font-size: 45px;
    margin-bottom: 20px;
}
.box-play-text :last-child{
    font-size: 20px;
    font-weight: bold;
    color: gray;
}
/* testo 2 */
.row-distance{
    margin-top: 100px;
}
.box-play-text-2{
    margin-top: 100px;
}
.box-play-text-2 h2{
    font-size: 45px;
    margin-bottom: 20px;
    display: inline;
}
.box-play-text-2 span{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    margin-top: 20px;
}
.bottone{
    margin-top: 30px;
    border-radius: 30px;
}

/* list tools ps5 */
.selected-ps{
    border-bottom: 3px solid #0072ce;
}
#tools-ps .col-4 .selected-ps{
    padding-bottom: 25px;
}
#tools-ps span{
    font-weight: bold;
}
#tools-ps{
    text-align: center;
}
._filter{
    opacity: 0.7;
}

/* middle jumbotron */
.jumbo-mid{
    margin-top: 35px;
    position: relative;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content-jumbo-mid{
    padding: 80px 0;
}

/* nuove uscite */
.nuove-uscite-bk{
    background-color: #1f1f1f;
}
.box-nuove-uscite-bk{
    padding-top: 40px;
    padding-bottom: 20px;
}
.nuove-uscite-bk h2{
    color: white;
}
.nuove-uscite-bk h3{
    color: white;
}
.box-novità{
    border-radius: 20px;
    overflow: hidden;
}
.testo-novità{
    color: white;
    padding-top: 7px;
    margin-bottom: 30px;
}

/* Ps4 section */
.ps4-center-text{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 90px;
}
.ps4-center-text h2{
    font-weight: bold;
    font-size: 30px;
}
.ps4-center-text p{
    font-weight: bold;
    color: gray;
    font-size: 20px;
}
/* Card */
.card-border{
    border: none;
}
.card-body h4{
    font-weight: bold;

}
.card-body p{
    font-weight: bold;
    color: gray;
}
.card-btn{
    border-radius: 30px;
}
/* END Card */
/* END MAIN */